# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA 설정 파일
.idea/
*.iml


# 민감한 정보가 포함된 파일
run-*.json
run-latest.json

# 환경 변수 설정 파일 (ex: .env, .properties)
.env